# 系统文件
**/.DS_Store
**/*.swp
**/*.lock

# Xcode 用户个人配置文件
**/xcuserdata/
**/*.xcuserstate

# Xcode 工作区
**/*.xcworkspace/

# Xcode 构建产物
**/build/
**/DerivedData/
**/*.ipa
**/*.dSYM.zip
**/*.dSYM
**/*.hmap

# JetBrains / 其他 IDE 配置
**/.idea/

# Node.js 依赖
**/node_modules/

# Xcode 文件移动或重命名时的临时文件
**/*.moved-aside

# Xcode 源代码控制配置
**/.xccheckout

# Xcode 界面和调试配置文件
**/*.perspectivev3
**/*.mode2v3
**/*.mode1v3
**/*.pbxuser

# 日志和缓存文件
**/*.log
**/npm-debug.log*
**/yarn*.log*

# Swift Package Manager
**/.build/
**/.swiftpm/

# Fastlane 自动化工具生成的文件
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/
**/fastlane/test_output/

# Playground 文件
**/timeline.xctimeline

# 临时文件
**/*.tmp
**/*.temp

# 依赖和第三方框架
**/Pods/
**/Carthage/Build/
**/Carthage/Checkouts/
**/vendor/

# 禁止忽略文件（这里列出的文件不受 *.lock 规则影响，不会被通配符标记的忽略文件忽略）
!**/Podfile.lock
!**/Gemfile.lock

# 其他需要自定义忽略的文件或文件夹